*{  
  font-family: 'Kalam', cursive;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.card{
    cursor: pointer;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 430px;
    height: 730px;
    border-color: red;
    border-radius: 15px;
    background-image: linear-gradient(TO bottom right,orange, white,green) !important;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 0 20px black;
}

.profile{
    padding-top: 20px;
    height: 300px;
    width: 300px;
    border-radius: 100%;  
}
h1{
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 30px;
    color: black; 
}
.info h1{
  font-size: 100px;
  text-transform: capitalize;
  color: black;
  margin-bottom: 8px;
  }
  .hari {
    color:#ff4321;
  }


h3{   padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 15px;
    color: black;   
}
p{
    padding-left: 3%;
    padding-right: 5%;
    font-size: 20px;   
}
hr{
    padding-left: 2%;
    padding-right: 2%;
}
.media{

  justify-content: space-evenly;
  padding-top:30px;
  align-items: center;
  font-size: 30px;
}
.fa-github{
  padding-top: 5px;
  color:  black;
}
.fa-instagram{
  color: red;
}
.fa-whatsapp{
  color:green;
}
.fa-twitter-square{
  color:rgb(10, 135, 207);
}
.fa-facebook-square{
  color: blue;
}
footer{
    padding-bottom: 10%; 
    font-size: 15px;
}
